.side-bar {
    float:left;
    height:80px;
    width:20%;
    background-color:#800080;
  }
  header {
      padding: 0.2em;
      background-color:#333333;
      text-align: center;
      color: white;

    }
  .main {
    float:right;
    height:95%;
    width:79%;
    background-color:#cccccc;
  }

  .item {
    background-color:#ffffff;
    float: left;
    width: 29%;
    padding: 10px;
    margin-right: 1%;
    margin-top: 5px;
    margin-bottom: 3px;

    border-style: solid;
    border-width: 5px;
    border-radius: 3px;
    border-color: #330033
  }

  img {
    float:left;
    padding-right: 2px;
  }

  .descripton {
    float: left;
  }

  a {
    text-decoration: none;
    color: black;
  }
