<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="index.css" rel="stylesheet" type="text/css">
  <title>Random K-things</title>
</head>
<body>

  <header>
    <h1>Random K-things</h1>
    <h2>This is a shop that sells random things seen in K-pop and K-dramas</h2>
  </header>

  <div class="side-bar">
  </div>

  <div class="main">
    <a href="producto/1/">
    <div class="item">
      <img src="https://pm1.narvii.com/6506/1ef0fee244e70761691360e40e20db53077d9a51_hq.jpg" height="200px">
      <div class="description">
        <p>Lisa's ugly boots</p>
      </div>
    </div>
    </a>
    <a href="producto/2/">
    <div class="item">
      <img src="https://i.pinimg.com/originals/e0/02/e0/e002e09a803be717ca45cec9626e8007.jpg" height="200px">
      <div class="description">
        <p>Hobi's suffocating mask</p>
      </div>
    </div>
  </a>
    <div class="item">
    </div>
  </div>
</body>
</html>
